#h{
color:blue;
text-align:center;
}
#div{
width:500px;
border:50px double green;
padding:45px;
margin:45px:
}
#info
{
color:black;
text-align:left;
border-bottom:solid blue;
}
#form
{
color:green;
form-position:center;
}
#over
{
color:blue;
border:solid;
}

